// System configuration items - applies to the entire application
system {
    threads-per-service 8
    // Should the server daemonize and run in the background?
    //
    // NOTE: If this is "true", then "pid-file" must be set
    daemonize false

    // Path to the pidfile used when daemonizing
    //
    // NOTE: This has issues if you use relative paths. See issue TODO
    pid-file "/tmp/river.pidfile"

    // Path to upgrade socket
    //
    // NOTE: `upgrade` is NOT exposed in the config file, it MUST be set on the CLI
    // NOTE: This has issues if you use relative paths. See issue TODO
    // NOTE: The upgrade command is only supported on Linux
    upgrade-socket "/tmp/river-upgrade.sock"
}

// Services are the main abstraction of River
services {
    // This is a service named "Example1"
    Example1 {
        // Listeners are the "downstream" interfaces that we listen to. We can name as many
        // as we'd like, at least one is required
        listeners {
            "0.0.0.0:8080"
            "0.0.0.0:4443" cert-path="./assets/test.crt" key-path="./assets/test.key"
        }

        // Connectors are the "upstream" interfaces that we connect with. We can name as many
        // as we'd like, at least one is required. By default, connectors are distributed
        // round-robin.
        connectors {
            // load-balance configures how we handle distributing between the named connectors.
            // This example is a little silly, because we only have one connector.
            //
            // This section is optional.
            load-balance {
                selection "Ketama" key="UriPath"
                discovery "Static"
                health-check "None"
            }
            "91.107.223.4:443" tls-sni="onevariable.com"
        }

        // Path control are optional modifiers for requests and responses
        //
        // This section is optional.
        path-control {
            upstream-request {
                filter kind="remove-header-key-regex" pattern=".*(secret|SECRET).*"
                filter kind="upsert-header" key="x-proxy-friend" value="river"
            }
            upstream-response {
                filter kind="remove-header-key-regex" pattern=".*ETag.*"
                filter kind="upsert-header" key="x-with-love-from" value="river"
            }
        }
    }

    // This is a second service named "Example2". This is the minimal possible configuration,
    // with a single listener and connector.
    Example2 {
        listeners {
            "0.0.0.0:8000"
        }
        connectors {
            "91.107.223.4:80"
        }
    }

    // This is a third service, this one is a file server
    Example3 {
        // Same as proxy services, we support multiple listeners, and require
        // at least one.
        listeners {
            "0.0.0.0:9000"
            "0.0.0.0:9443" cert-path="./assets/test.crt" key-path="./assets/test.key"
        }
        // File servers have additional configuration items
        file-server {
            // The base path is what will be used as the "root" of the file server
            //
            // All files within the root will be available
            base-path "."
        }
    }
}
